body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #0779e4;
    font-weight: bold;
}

header a:hover {
    color: #d5d5d5;
}

#showcase {
    min-height: 400px;
    background: url('showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

form {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-top: 30px;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form input[type="file"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    width: 100%;
    background: #333;
    color: #fff;
    border: 0;
    padding: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #0779e4;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover
